:root {
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navyblue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud:#F4F4FD;
  --navybluemodal:rgba(46, 47, 66, 0.40);
  --grey:rgba(46, 47, 66, 0.70);
  --white:#FFF;
  --dairy:#FCFCFC;
}

body {
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  background-color: var(--white) ;
  color: var(--navyblue);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 0px 200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ##### COMPONENTS ##### */
ul,a,li{
  margin:0px;
  padding: 0px;
}


/* ##### END COMPONENTS ##### */

/* ##### HEADER ##### */


.navigation{
  width: 100%;
  justify-content:center;
  align-items: center;
  border: 1px solid #ECECEC;
}


.container, .navigation-list, .navigation {
  display: flex;
  flex-direction: row;
}

.navigation-list{
  margin-left: 93px;
}

.navigation-list-item:not(:last-child){
padding-right:46px;
}
.navigation-logo {
  margin-left: 215px;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}

.navigation-logo-color {
  color: var(--iris);
}

.navigation-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.navigation-logo-foot {
  color: var(--white);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.navigation-list-link {
  list-style-type: none;
  text-decoration-line: none;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone-number:hover,
.address-phone-number:focus {
  color: var(--ocean);
}
 
.address-phone-number {
  margin-right: 227px;
  display:block;
}

.address-mail,
.address {
  font-style: normal;
}

.address-mail{
  margin-left: 371px;
}

.address-mail,
.address-phone-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.modal-btn:hover,
.modal-btn:focus {
  color:var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}

/* ##### END HEADER ##### */

/* ##### MAIN ##### */
.main .container {
  display: flex;
  align-items: center;
}

.main-main{
  height: 600px;
  background: var(--navyblue);
}

.main .main-texth1 {
  margin: 200px 452px 30px 452px;
}

.main-texth1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--white);
}

.main .modal-btn {
  margin: 0px 700px 200px 700px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px 39px;
}

.main-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.main-list-texth3 {
  font-size: 20px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-list-undertitle {
  font-size: 16px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--slate);
  width: 270px;
}

.main-texth2 {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-list-team {
  text-decoration: none;
  list-style-type: none;
}

.main-list-team-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.187;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.main-list-team-under {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* ##### END MAIN ##### */

/* ##### FOOTER ##### */
.footer {
  background: var(--navyblue);
}

.footer-mission{
color: var(--cloud);
}

/* ##### END FOOTER ##### */

/* ################# PORTFOLIO ################## */

/* ##### FILTR ##### */
.search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--iris);
  cursor: pointer;
  padding: 6px 22px;
  background: var(--cornflower);
  border-radius: 4px;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  color: var(--white);
  background: var(--ocean);
  cursor: pointer;
}

/* ##### END FILTR ##### */

/* ##### MAIN ##### */
.portfolio-main-list-text {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-main-list-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* ##### END MAIN ##### */
