:root{
    --main-font: font-family: 'Raleway', sans-serif;
    --secondary-font: font-family: 'Roboto', sans-serif;
    --main-color: #2196F3;
}
body{
    font-family: var(--secondary-font);
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
    width: 1600px;
    align-items: center;
    margin: 0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ##### COMPONENTS ##### */

/* ##### END COMPONENTS ##### */

/* ##### HEADER ##### */
.header .container {
    display:flex;
    align-items:center;
    padding: 25px 0px;
}
.navigation {
    display: flex;
    margin-left: 215px;
    
}
.navigation-list {
    display:flex;
    align-items: center;
    cursor:pointer;
}
.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}
.header .navigation-logo {
    margin-right: 93px;
}
.header .address-mail{
    margin-left:auto;
    margin-right: 50px;
}
.navigation-list-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone-number:hover,
.address-phone-number:focus {
color: var(--main-color) ;
}
.header .address-phone-number{
    margin-right: 227px;
}
.address-mail, .address-phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
     color: #757575;
}     

.modal-btn:hover,
.modal-btn:focus {color:#FFFFFF}
/* ##### END HEADER ##### */

/* ##### MAIN ##### */
.main .container {
    display: flex;
    align-items: center;
}
.glowny{
    height: 600px;
    background: #2F303A
}

.main .main-texth1{
    margin: 200px 452px 30px 452px;
}
.main-texth1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
text-transform: uppercase;
}
.main .modal-btn{
    margin: 0px 700px 200px 700px;
}
.modal-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor:pointer;
    padding: 10px 39px;
}
.main-list{
    display: flex;
    justify-content: center;
}
.main-list-texth3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}
.main-list-undertitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
}
.main-texth2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.main-list-team-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.main-list-team-under{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ##### END MAIN ##### */

/* ##### FOOTER ##### */
.address-map-foot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.adress-foot, .adress-phone-number-foot {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.adress-foot:hover,
.adress-foot:focus,
.adress-phone-number-foot:hover
.adress-phone-number-foot:focus{
    color: rgba(255, 255, 255, 0.6);
}

/* ##### END FOOTER ##### */

/* ################# PORTFOLIO ################## */

/* ##### FILTR ##### */
.search-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor:pointer;
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.search-btn:hover,
.search-btn:focus{
    color: #FFFFFF;
    background: var(--main-color); }
/* ##### END FILTR ##### */

/* ##### MAIN ##### */
.portfolio-main-list-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-main-list-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ##### END MAIN ##### */