:root {
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navyblue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud:#F4F4FD;
  --navybluemodal:rgba(46, 47, 66, 0.40);
  --grey:rgba(46, 47, 66, 0.70);
  --white:#FFF;
  --dairy:#FCFCFC;
}

body {
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  background-color: var(--white) ;
  color: var(--navyblue);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.container{
  max-width: 1158px;
  margin: 0px auto;
  padding: 0 15px;
}


/* ##### COMPONENTS ##### */
ul,a,li, h1 {
  margin:0px;
  padding: 0px;
}


/* ##### END COMPONENTS ##### */

/* ##### HEADER ##### */
.header {
  height: 72px;
  margin: 0px 0px; 
  display: flex;
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  justify-content: center;
  align-items: center;
}
.container.head, .container .navigation, .container .address {
  display: flex;
  flex-direction: row;
}

.container .navigation-list {
  padding-left: 76px;
  gap: 40px;
}

.container .address{
  padding-left: 322px;
  gap: 40px;
}
.navigation-list {
  display: flex;
  flex-direction: row;
}

.navigation-logo {
  font-family: var(--secondary-font);
  color: var(--navyblue);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.54px;
  text-decoration: none;
}
.navigation-logo:active{
  color: var(--navyblue);
}
.navigation-logo-color {
  color: var(--iris);
}
 
.link:visited{
  text-decoration: none;
}
.navigation-list-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.32px;
}

.navigation-list-link {
  list-style-type: none;
  text-decoration-line: none;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone-number:hover,
.address-phone-number:focus {
  color: var(--ocean);
}
 
.address-mail{
font-style: normal;

}

.address-mail,
.address-phone-number {
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.32px;
  color: var(--slate);
}

/* ##### END HEADER ##### */

/* ##### MAIN ##### */
.container .main-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main{
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-main{
  height: 600px;
  width: 100%;
  background: var(--navyblue);
}

.main-texth1 {
  width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.071;
  text-align: center;
  letter-spacing: 1.12px;
  color:var(--white);
  margin-bottom: 46px;
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.64px;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
.main-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.main-list-texth3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-list-undertitle {
  font-size: 16px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--slate);
  width: 270px;
}

.main-texth2 {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-list-team {
  text-decoration: none;
  list-style-type: none;
}

.main-list-team-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-list-team-under {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* ##### END MAIN ##### */

/* ##### FOOTER ##### */
.footer>.navigation-logo {
  color: var(--cloud);
  font-weight: 800;
}
.footer {
  background: var(--navyblue);
}

.footer-mission{
color: var(--cloud);
font-size: 16px;
}

/* ##### END FOOTER ##### */

/* ################# PORTFOLIO ################## */

/* ##### FILTR ##### */
.search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--iris);
  padding: 6px 22px;
  background: var(--cornflower);
  border-radius: 4px;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  color: var(--white);
  background: var(--ocean);
  cursor: pointer;
}

/* ##### END FILTR ##### */

/* ##### MAIN ##### */
.portfolio-main-list-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-main-list-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* ##### END MAIN ##### */
